
.VPNavBar.has-sidebar,.VPNavBar 
  background var(--color-dark-2)
  .container
    .content-body 
      background-color transparent
      .VPNavBarHamburger .container 
        .top,.middle,.bottom
          background-color var(--color-light-primary)
      .VPSocialLinks 
        margin 0 12px
        .VPSocialLink 
          width 22px
          height 22px
          &:hover 
            opacity .7
            color var(--color-light-primary)
          svg
            width 22px
            height 22px
      .VPNavBarMenuLink
        &:hover
          color var(--vp-c-brand-light)
        svg 
          display none  
      .VPNavBarTranslations
        &:before
          display none
        .button
          padding 0
          margin 0 12px
        .text
          padding 3px
          color var(--color-light-primary)
          svg
            width 15px
            height 15px
          svg:last-child
            display none
    .curtain 
      display none
    div.title 
      .VPNavBarTitle 
        .title 
          border-bottom none
          .VPImage.logo 
            height 32px

.VPNavBarMenu .VPLink,.VPFlyout 
  padding 0
  margin 0 12px
  line-height 22px
  font-size var(--font-size-m)
  color var(--color-dark-text)
.VPNavBarMenu .VPFlyout
  .text
    color var(--color-dark-text)
  &.active .text
  &.active:hover .text
  &:hover .text
    color var(--vp-c-brand-light)
  .VPLink
    color var(--vp-c-text-1)
  .link.active
    color var(--vp-c-brand)
  .menu .VPMenu .items .link
    padding 2px 12px
    margin 0
    &:hover
      color var(--vp-c-brand)

.VPNavScreen .VPSocialLink 
  color var(--vp-c-text-2) !important 

.VPSocialLinks .VPSocialLink 
  color var(--color-light-primary)

.VPContent .VPDoc
  padding 0 40px
  padding-bottom 128px !important
  .content
    padding 0
    .content-container
      max-width 100%

@media (max-width 650px)
  .VPContent .VPDoc 
    padding 0 20px

@media (min-width 768px) 
  .VPNavBar.has-sidebar, .VPNavBar 
    .container .content-body 
      .VPNavBarExtra 
        display none
      .VPNavBarTranslations,.VPNavBarSocialLinks
        display flex
        align-items center

@media (min-width 960px)  
  .VPSidebar  
    margin-top var(--vp-nav-height-desktop)
    padding-top 0 !important
    .curtain
      top -68px
  .VPBackdrop  
    display none
  .VPContent .VPDoc
    padding 0 40px
    .aside .content
      padding-left 16px
    .content
      padding 0

@media (min-width 960px) and (max-width 1279px)
  .VPContent .VPDoc
    padding-top 40px

@media (min-width 1280px) 
  .VPDoc .content-container .VPDocOutlineDropdown 
    display none
  .VPContent .VPDoc 
    padding-right 30px
    .content
      flex 1
      width auto
      margin-right 10px
    .aside 
        padding-left 10px
        max-width 180px
      .aside-container
        width 170px
        padding-top calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + var(--vp-doc-top-height, 0px) + 60px)
      .aside-curtain 
        display none
