.vp-doc {
  h1 {
    margin: 50px 0 20px;
    font-size: 36px;
    line-height: 47px;
    font-family: Roboto-Bold, Roboto;
    font-weight: bold;
    color: var(--color-light-title-text);
  }

  h2 {
    margin: 30px 0 20px;
    padding-top: 30px;
    font-size: 28px;
    line-height: 37px;
    font-family: Roboto-Bold, Roboto;
    font-weight: bold;
    color: var(--color-light-title-text);
  }

  h3 {
    margin: 40px 0 20px;
    font-size: 22px;
    line-height: 32px;
    font-family: Roboto-Bold, Roboto;
    font-weight: bold;
    color: var(--color-light-title-text);
  }

  h4 {
    margin: 30px 0 20px;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: var(--color-light-title-text);
    opacity: 0.85;
  }

  p {
    margin: 20px 0;
    font-size: 16px;
    color: var(--color-p-text);
    line-height: 24px;
  }

  :not(pre) code {
    background: var(--color-code-bg);
    color: var(--color-code);
  }

  a {
    color: var(--color-a-text);
    font-size: 16px;
    line-height: 24px;
  }

  a:hover {
    color: var(--color-a-hover);
    text-decoration: none;
  }

  ul {
    margin: 30px 0;
  }

  li {
    margin: 12px 0;
    font-size: 16px;
    color: var(--color-p-text);
    line-height: 24px;
  }

  .custom-block {
    border-radius: 4px;
    padding: 20px 30px 30px 26px;

    p {
      margin: 0;
      margin-top: 20px;
    }

    p:first-child {
      margin: 0;
    }

    code {
      border-radius: 2px;
    }

    .custom-block-title {
      font-weight: bold;
      font-family: Roboto-Bold, Roboto;
      opacity: 1;
    }
  }

  .tip {
    border-left: 4px solid var(--color-prompt);
    background: var(--color-bg-prompt);

    p {
      color: var(--color-prompt);
    }

    .custom-block-title {
      color: var(--color-titile-prompt);
    }

    code {
      background: var(--color-bg-prompt);
    }

    ul {
      li {
        color: var(--color-prompt);
      }
    }
  }

  .warning {
    border-left: 4px solid var(--color-warning);
    background: var(--color-bg-warning);

    p {
      color: var(--color-warning);
    }

    .custom-block-title {
      color: var(--color-titile-warning);
    }

    code {
      background: var(--color-bg-warning);
    }

    ul {
      li {
        color: var(--color-warning);
      }
    }
  }

  .danger {
    border-left: 4px solid var(--color-danger);
    background: var(--color-bg-danger);

    p {
      color: var(--color-danger);
    }

    .custom-block-title {
      color: var(--color-titile-danger);
    }

    code {
      background: var(--color-bg-danger);
    }

    ul {
      li {
        color: var(--color-danger);
      }
    }
  }

  div[class*='language-'] {
    background-color: var(--color-bg-code-table);
    opacity: 0.9;
    border-radius: 4px;

    pre {
      background-color: inherit;
      opacity: inherit;
    }

    code {
      font-size: 16px;
      line-height: 30px;
      background: inherit;
      opacity: inherit;
    }
  }

  thead tr th {
    padding: 20px 15px;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--color-bg-table);
    color: var(--color-title-text);
    border-color: var(--color-border-line);
  }

  tbody {
    tr {
      background-color: var(--color-bg-table-line);
      color: var(--color-dark-text);
    }

    tr:nth-child(2n) {
      background-color: var(--color-bg-table);
    }
  }

  table {
    border-color: var(--color-border-line);

    code {
      background: var(--color-code-bg-table);
      color: var(--color-drak-text);
      border-radius: 2px;
    }

    td {
      border-color: var(--color-border-line);
    }
  }
}

.VPDocFooter {
  .VPLastUpdated {
    font-size: 12px;
    line-height: 18px;
    color: var(--color-desc-text);
  }
}

.VPDocAside {
  .content {
    border-left: 2px solid var(--color-aside-deliver-light);

    .outline-marker {
      width: 2px;
      left: -2px;
    }

    .outline-title {
      font-size: 15px;
      line-height: 24px;
    }

    .outline-link {
      color: var(--color-aside-text);
      font-size: 15px;
      line-height: 24px;
    }

    .outline-link.active {
      color: var(--color-aside-text-active);
    }
  }
  ul, li {
    margin: 12px 0;
  }
}
