.vp-doc  
  h1, h2, h3, h4 
    font-family Gilroy-ExtraBold
    color var(--color-dark-primary)

  h1 
    margin 60px 0 20px
    font-size var(--font-size-xxl)
    line-height var(--line-height-xxl)

  h2 
    margin 60px 0 20px 
    padding-top 0 
    border-top none 
    font-size var(--font-size-xl) 
    line-height var(--line-height-xl) 

  h3  
    margin 40px 0 20px 
    font-size var(--font-size-l) 
    line-height var(--line-height-l) 

  h4  
    margin 30px 0 20px 
    font-size var(--font-size-m) 
    line-height var(--line-height-m) 

  p  
    margin 20px 0 
    font-size var(--font-size-m) 
    line-height var(--line-height-m) 
    color var(--color-gray-3) 

  :not(pre) code 
    color var(--color-red-3)
    background var(--color-code-bg)
    border-radius var(--border-radius-s)
    border 1px solid var(--color-dark-primary-1)

  a  
    font-size var(--font-size-m) 
    line-height var(--line-height-m) 
    color var(--color-a-text) 
    text-decoration underline 

  a:hover  
    color var(--color-a-hover) 

  ul  
    margin 20px 0 
  
  li  
    margin 10px 0 
    font-size var(--font-size-m) 
    line-height var(--line-height-m) 
    color var(--color-gray-3) 
    a
      text-decoration none
      &:hover
        text-decoration none


  .custom-block  
    padding 16px
    padding-right 40px
    font-size var(--font-size-m)
    line-height var(--line-height-m)
    border-radius var(--border-radius-s)
    p  
      margin 10px 0 
    p:first-child  
      margin-bottom 15px
    ul
      margin 15px 0
      li
        margin 10px 0
    code
      padding 0 6px
      font-weight 400
      border-radius 2px 
      font-size var(--font-size-m)
      line-height var(--line-height-m)
      border none
    .custom-block-title  
      font-family Gilroy-ExtraBold

  .tip
    border-color var(--color-green-1-5)
    border-left 4px solid var(--color-green-3) 
    background var(--color-green-2-1) 
    color var(--color-green-1)
    p, ul li
      color var(--color-green-1) 
    code  
      background var(--color-green-2-1) 

  .warning  
    border-color var(--color-yellow-1-5)
    border-left 4px solid var(--color-yellow-1) 
    background var(--color-yellow-1-1) 
    p, ul li
      color var(--color-yellow-1) 
    code  
      background var(--color-yellow-1-1)

  .danger  
    border-color var(--color-red-1-5)
    border-left 4px solid var(--color-red-1) 
    background var(--color-red-1-1)
    p, ul li
      color var(--color-red-2) 
    code  
      background var(--color-red-1-1) 

  div[class*='language-']  
    opacity 0.9 
    margin 16px 0
    color var(--color-code-text)
    border-radius var(--border-radius-m)
    background-color var(--color-bg-code-table) 

    pre  
      background-color inherit 
      opacity inherit 

    code  
      font-size var(--font-size-m)
      line-height var(--line-height-m)
      background inherit 
      opacity inherit 

  thead tr th  
    padding 20px 15px
    font-size var(--font-size-m)
    line-height var(--line-height-m)
    background-color var(--color-bg-table) 
    color var(--color-title-text) 
    border-color var(--color-border-line) 

  tbody  
    tr  
      background-color var(--color-bg-table-line) 
      color var(--color-dark-text) 

    tr:nth-child(2n)  
      background-color var(--color-bg-table) 

  table  
    border-color var(--color-border-line) 

    code  
      background var(--color-code-bg-table) 
      color var(--color-drak-text) 
      border-radius 2px 

    td  
      border-color var(--color-border-line) 

.VPDoc .VPDocFooter
  margin-top 60px
  .edit-info
    padding-bottom 20px
  .VPLastUpdated  
    font-size var(--font-size-xs)
    line-height var(--line-height-xs)
    color var(--color-gray-5) 
  .prev-next
    padding-top 20px
    .pager-link
      padding 16px 20px
    .pager 
      .desc
        margin-bottom 6px
        font-size var(--font-size-xs)
        line-height var(--line-height-xs)
      .title
        font-size var(--font-size-m)
        line-height var(--line-height-m)

.VPDocAside  
  .content  
    border-left 2px solid var(--color-dark-primary-1) 
    .outline-marker  
      width 2px 
      left -2px 
    .outline-title, .outline-link  
      font-size var(--font-size-s)
      line-height var(--line-height-s)
      color var(--color-gray-3) 
    .outline-link.active  
      color var(--color-dark-primary)
  ul, li  
    margin 8px 0 
