@font-face 
  font-family "Alimama_ShuHeiTi"
  src url("/fonts/Alimama_ShuHeiTi_Bold")
  font-weight 100 
@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-Thin.otf")
  font-weight 100 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-ExtraLight.otf")
  font-weight 200 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-Light.otf")
  font-weight 300 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-Regular.otf")
  font-weight 400 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-Medium.otf")
  font-weight 500 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-SemiBold.otf")
  font-weight 600 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-Bold.otf")
  font-weight 700 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-ExtraBold.otf")
  font-weight 800 

@font-face 
  font-family "Montserrat"
  src url("/fonts/Montserrat-Black.otf")
  font-weight 900 

@font-face 
  font-family "Roboto"
  src url("/fonts/Roboto-Black.ttf")
  font-weight 900 