@font-face 
  font-family "Gilroy-ExtraBold"
  font-weight 800
  src url("/fonts/Gilroy-ExtraBold.otf")

@font-face 
  font-family "Gilroy-Regular"
  font-weight 800
  src url("/fonts/Gilroy-Regular.otf")