@import './vars.styl';
@import './font.styl';
@import './custom.styl';
@import './docs.styl';
@import './sidebar.styl';
@import './blogs.styl';

body {
  margin: 0;
  background: var(--color-light-primary);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

// layout
.inner-content {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;

  @media (max-width: 1080px) {
    width: 100%;
  }
}

.block {
  box-sizing: border-box;
  background: linear-gradient(135.27deg, var(--color-dark-primary) 2.72%, transparent 100%);
  border-radius: 16px;
  color: #ffffff;
  position: relative;
  transform-style: preserve-3d;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transform: translateZ(-1px);
    background: linear-gradient(135.27deg, var(--color-primary) 2.72%, transparent 30%);
  }

  &.heavy {
    background: url('/bg_heavy_block.png') center / cover no-repeat;
  }

  &.light {
    background: linear-gradient(156.35deg, #573899b0 2.73%, transparent 67.56%);
    border: 1px solid #9039FF;

    &:before {
      background: linear-gradient(135.27deg, #8322FF 2.72%, transparent 60%);
    }
  }
}

// btn
.btn {
  user-select: none;
  cursor: pointer;
  min-width: 140px;
  height: 44px;
  line-height: 40px;
  text-align: center;
  color: var(--color-primary);
  background-color: #fff;
  border-radius: 22px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s;
  box-shadow: 0px 2px 6px rgba(131, 34, 255, 0.503059);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transform: translateZ(-1px);
    background: linear-gradient(180deg, #D5B3FF, #A35CFF);
  }

  &:hover {
    color: #ffffff;
    background: linear-gradient(22.54deg, #8322FF 11.46%, #FF779B 133.1%);
  }

  img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  &.primary {
    background-color: var(--color-primary);
    color: #ffffff;
  }

  &.info {
    background-color: #fff;
    color: var(--color-primary);
    font-weight: 600;
    border-radius: 8px;
  }
}

// text
.sub-title {
  font-size: 32px;
  width: 350px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.gradient-text {
  background-image: var(--color-primary-light-text);
  -webkit-background-clip: text;
  color: transparent;
}

.block-title {
  display: inline-block;
  margin: 0 auto 160px;
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(72.58deg, #B57BFF 8.56%, #FF8AA8 96.15%);
  -webkit-background-clip: text;
  color: transparent;

  &:after {
    content: '';
    display: block;
    background: linear-gradient(90deg, #BF8DFF 0%, #A661FF 100%);
    width: 48px;
    height: 3px;
    margin: 14px auto 0;
    border-radius: 2px;
  }
}

@media (max-width: 1080px) {
  .block-title {
    margin: 0 auto 80px;
    font-size: 22px;
  }
}

// input
input {
  height: 40px;
  padding-left: 18px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;

  &::placeholder {
    color: #191B234C;
  }
}
