@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800;900&display=swap')
@import './vars.styl'
@import './font.styl'
@import './custom.styl'
@import './docs.styl'
@import './sidebar.styl'
@import './search.styl'

body 
  margin 0
  background var(--color-light-primary)
  font-family Open Sans, -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif