.VPSidebarGroup {
  .title-text {
    padding: 8px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    font-family: Roboto-Bold, Roboto;
  }

  .items .VPLink {
    padding: 8px 0;
    margin: 0;
    .link-text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.group {
  .no-title .items {
    .link {
      color: var(--color-sidebar-first-text);
      .link-text {
        font-family: Roboto-Bold, Roboto;
        font-weight: bold;
      }
    }
  }

  .title {
    .title-text {
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }
  }

  .items .VPLink .link-text {
    font-size: 16px;
    line-height: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
  }

  .items .link {
    color: var(--color-p-text);
  }

  .items .link.active {
    color: var(--color-primary);
  }
}
.VPSidebar .group {
  .VPSidebarItem {
    .text {
      font-size: 16px;
      line-height: 24px;
    }
    .item h2 {
      font-weight: 700;
    }
    .item h3 {
      line-height: 32px;
    }
    .VPLink .text {
      padding: 8px 0;
      font-family: PingFangSC-Regular, PingFang SC;
      color: var(--color-sidebar-first-text);
      opacity: .8;
    }
    .caret {
      height 40px
    }
  }
}