.VPSidebar
  .group 
    & + .group 
      padding 0
      border-top none
    .VPSidebarItem 
      .text 
        font-weight 400
        color var(--color-dark-primary)
        font-size var(--font-size-s)
        line-height var(--line-height-s)
      .item h2 
        padding 0
      .item h3 
        line-height var(--line-height-s)
      .VPLink .text 
        color var(--color-dark-primary)
      .caret 
        height 14px
        margin 5px 0 4px
        color var(--color-dark-primary)
      .item:hover .caret
        opacity .5
    .VPSidebarItem.level-1 .items
    .VPSidebarItem.level-2 .items
    .VPSidebarItem.level-3 .items
    .VPSidebarItem.level-4 .items
      border-left 2px solid var(--color-gray-4)
      .indicator
        width 2px
        left - 18px
    .VPSidebarItem.level-2 .items
      margin-left 0

.Layout .VPSidebar
  background var(--color-light-2)
  box-shadow 1px 0px 0px 0px var(--color-gray-6)
  scrollbar-gutter: stable;
  #VPSidebarNav .group
    width calc(var(--vp-sidebar-width) - 32px)
    .VPSidebarItem.level-0.collapsible:not(.collapsed) .item h2.text 
      font-weight 700
    .VPSidebarItem.level-0
      padding-bottom 0
      iconpark-icon
        margin-right 6px
        font-size 18px
      .item 
        align-items center
        padding 0 14px 0 0
      h2.text
        padding 13px 0 14px
      .VPSidebarItem.level-1 .item
        box-shadow none
      .VPSidebarItem.level-2 .item
        padding-left 0
