:root 
  --color-dark-2 rgba(30, 27, 33, 1)
  --color-dark-3 rgba(26, 12, 48, 1)
  --color-gray-2 rgba(83, 82, 87, 1)
  --color-gray-3 rgba(88, 82, 101, 1)
  --color-gray-4 rgba(231, 230, 233, 1)
  --color-gray-5 rgba(170, 166, 178, 1)
  --color-gray-6 rgba(209, 206, 213, 1)
  --color-light-2 rgba(244, 244, 244, 1)

  --color-green-1 rgba(32, 195, 123, 1)
  --color-green-1-5 rgba(32, 195, 123, .5)
  --color-green-2 rgba(36, 201, 128, 1)
  --color-green-2-1 rgba(36, 201, 128, .1)
  --color-green-3 rgba(45, 209, 136, 1)
  --color-yellow-1 rgba(204, 157, 20, 1)
  --color-yellow-1-1 rgba(204, 157, 20, .1)
  --color-yellow-1-5 rgba(204, 157, 20, .5)
  --color-red-1 rgba(234, 50, 95, 1)
  --color-red-1-1 rgba(234, 50, 95, .1)
  --color-red-1-5 rgba(234, 50, 95, .5)
  --color-red-1-85 rgba(234, 50, 95, .85)
  --color-red-2 rgba(228, 51, 95, 1)
  --color-red-3 rgba(252, 41, 161, 1)

  --color-light-primary rgba(249, 249, 249, 1)
  --color-dark-primary rgba(23, 12, 44, 1)
  --color-dark-primary-1 rgba(23, 12, 44, .1)
  --color-primary rgba(131, 34, 255, 1)
  --color-gray-light rgba(248, 249, 253, 1)
  --color-light-primary-2 rgba(249, 249, 249, 0.2)
  --color-light-primary-3 rgba(249, 249, 249, 0.3)


  --color-title-text var(--color-light-primary)
  --color-dark-text var(--color-light-primary)


  --vp-c-brand-dark rgba(117, 30, 228, 1)
  --vp-c-brand-darker rgba(101, 26, 197, 1)
  --vp-c-brand-lighter rgba(190, 163, 255, 1)
  --vp-c-brand-light rgba(163,118,255,1)
  --vp-c-brand-light-1 rgba(163, 118, 255, .1)
  --vp-c-brand var(--color-primary)
  --vp-c-brand-1 var(--vp-c-brand)
  --vp-c-brand-2 var(--vp-c-brand-1)
  --vp-c-text-1 var(--color-dark-primary)

  --color-title-prompt rgba(36, 201, 128, 1)
  --color-title-warning rgba(204, 157, 20, 1)
  --color-prompt rgba(36, 201, 128, 0.8)
  --color-warning rgba(204, 157, 20, 0.8)
  --color-danger rgba(234, 50, 95, 0.8)
  --color-bg-prompt rgba(36, 201, 128, 0.1)
  --color-bg-warning rgba(204, 157, 20, 0.1)
  --color-bg-danger rgba(234, 50, 95, 0.1)
  --color-code-prompt rgba(36, 201, 128, 0.9)
  --color-code-warning rgba(204, 157, 20, 0.9)
  --color-code-danger rgba(234, 50, 95, 0.9)
  --color-code-bg-table rgba(255, 255, 255, 0.1)
  --color-code-bg var(--vp-c-brand-light-1)


  --color-a-hover var(--vp-c-brand-light)
  --color-a-text var(--color-primary)
  --color-bg-code-table rgba(0, 0, 0, 0.9)
  --color-bg-table-line rgba(0, 0, 0, 0.6)
  --color-bg-table rgba(0, 0, 0, 0.8)
  --color-border-line rgba(255, 255, 255, 0.15)

  --vp-nav-height var(--vp-nav-height-desktop)
  --vp-nav-height-desktop 68px


  --font-size-xxl 40px
  --font-size-xl 28px
  --font-size-l 20px
  --font-size-m 16px
  --font-size-s 15px
  --font-size-xs 14px
  --font-size-xxs 12px

  --line-height-xxl 47px
  --line-height-xl 37px
  --line-height-l 28px
  --line-height-m 24px
  --line-height-s 23px
  --line-height-xs 18px
  --line-height-xxs 15px

  --border-radius-l 8px
  --border-radius-m 6px
  --border-radius-s 4px

  --vp-sidebar-width 300px