# This is a basic workflow to help you get started with Actions
name: addDocsToS3BucketAWS
# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request_target:
    branches: ['main']
    types: [closed]
    paths:
      - "./docs/zh/**/*.md"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - run: pnpm i --lockfile-only
      - name: create env file
        run: |
          touch .env
          echo VITE_LANG=zh >> .env
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'build: update pnpm lockfile'
          commit_options: '--no-verify'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm build
      - name: Upload to S3
        run: |
          aws s3 sync ./docs/.vitepress/dist s3://greptime-document-bucket
        env:
          AWS_ACCESS_KEY_ID: AKIA5AYTFD4MP2F7OUSZ
          AWS_SECRET_ACCESS_KEY: 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
          AWS_DEFAULT_REGION: cn-northwest-1
